.row
  .column-md-12
    %h1 #{@menu.title}
  .col-md-8.col-xs-12
    - if !@menu.dishes.nil?
      Dishes:
      %br/
      - @menu.dishes.each do |dish|
        = link_to dish.dish_name, dish
        %br/
    - if can? :manage, Restaurant
      = link_to "Edit #{@menu.title}", edit_menu_path(@menu.id)
