.row
  .col-md-12
    .jumbotron
      %h3 This is the Restaurant index page! Yay!
    %br/
    %div Picture
    %div Restaurant Name
    %div Restaurant info
    %div Map
    %div Link to menus
    %div Highlighted dishes
    %div Comment and rate
    %div
