This is the Restaurant index page! Yay!

<br>


<div>Picture</div>
<div>Restaurant Name</div>
<div>Restaurant info</div>
<div>Map</div>
<div>
  <%= link_to 'Link to menus', menu_path %>
</div>
<div>Highlighted dishes</div>
<div>Comment and rate</div>
