
<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h3>This is the Restaurant index page! Yay!</h3>
    </div>
    <div>Picture</div>
    <div>Restaurant Name</div>
    <div>Restaurant info</div>
    <div>Map</div>
    <div>
      <%= link_to 'Link to menus', menu_path %>
    </div>
    <div>Highlighted dishes</div>
    <div>Comment and rate</div>
  <div>
</div>
