.row
  .column-md-8.column-sm-12
    %h1
      Hey, you're checking out.
    %p
      You ordered:
      %ul
        - @order.shopping_cart_items.each do |dish|
          %li
            = dish.item.dish_name
    %p
      Total price:
      = @order.total.to_i
      kr
    %p
      Delivery address:
      = current_user.address
