.h1-top
  %h1 = "Hey #{current_user.name}, you're checking out"
.container
  .row
    .col-md-8.col-xs-12
      %h2
        You ordered:
      %ul
        - @order.shopping_cart_items.each do |dish|
          %li
            = dish.item.dish_name
      %h3
        Total price:
        %p
          = @order.total.to_i
      %p
        Delivery address:
      %p
        = current_user.address