.row
  .column-md-12
    %h1 Cart for X
    %p selected dishes
    - @cart.shopping_cart_items.each do |dish|
      = dish.price_cents
      = dish.item.dish_name
    = link_to 'Pay Now', checkout_path(@cart), method: :post
    = link_to 'Log in to pay', new_user_registration_path
