:javascript
  var map;
  $(document).ready(function(){
    map = new GMaps({
      div: '#map',
      lat: 57.7089,
      lng: 11.9746,
      width: '800px',
      height: '300px'
    });
    performGeolocation();
    addMarker();
  });

  function addMarker() {
    map.addMarker({
      lat: 57.690943,
      lng: 11.971639,
      title: 'Lima',
      click: function(e) {
        alert('You clicked in this marker');
      }
    });
  }

  function performGeolocation() {
    var latitude;
    var longitude;
    var testing_env = $('#map').data('test-env');
    if(testing_env == false) {
      GMaps.geolocate({
                success: function (position) {
                  latitude = position.coords.latitude
                  longitude = position.coords.longitude
                  map.setCenter(latitude, longitude);

                },
                error: function (error) {
                    alert('Geolocation failed: ' + error.message);
                },
                not_supported: function () {
                    alert("Your browser does not support geolocation");
                }
            });
    } else {
      latitude = 59.3293235;
      longitude = 18.0685808;
      map.setCenter(latitude, longitude);
    }
  }

.mapdiv
  %div#map{data: {test: {env: "#{Rails.env.test?}"}}}
.row
  .col-md-12
    .jumbotron
      %h2 "What do you feel like tonight?"
      - if current_user
        Buy some food, #{current_user.name}
    %div Picture placeholder
    %div Restaurant Name placeholder
    %div Restaurant info placeholder
    %div Map placeholder
    %div Placeholder for popular restaurants
    %div Highlighted dishes placeholder
    %div Comment and rate placeholder
